<a href="https://colab.research.google.com/github/thaisbarras/notebooks_exercicios/blob/main/Atividade_Semana07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade - Semana 07 - Trabalhando com dados

Esta é atividade semanal sugerida. Você deverá preenchê-la e enviá-la dentro do prazo (até o fechamento da semana corrente).

###Questão 1

Importe a planilha `dados_starwars.xlsx` na pasta virtual `content`.

In [51]:
# Questao 1
import pandas as pd
dados_starwars = pd.read_excel("dados_starwars.xlsx")
dados_starwars

,nome,altura,massa,cor_do_cabelo,cor_da_pele,genero,planeta_natal,especie
0,Luke Skywalker,172.0,77.0,Loiro,Branca clara,Masculino,Tatooine,Humano
1,C-3PO,167.0,75.0,NaN,Ouro,Masculino,Tatooine,Droide
2,R2-D2,96.0,32.0,NaN,"Branca, Azul",Masculino,Naboo,Droide
3,Darth Vader,202.0,136.0,Nenhum,Branca,Masculino,Tatooine,Humano
4,Leia Organa,150.0,49.0,Castanho,Clara,Feminino,Alderaan,Humano
...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,Castanho,Clara,Feminino,NaN,Humano
83,Poe Dameron,NaN,NaN,Castanho,Clara,Masculino,NaN,Humano
84,BB8,NaN,NaN,Nenhum,Nenhuma,Masculino,NaN,Droide
85,Captain Phasma,NaN,NaN,Desconhecido,Desconhecida,NaN,NaN,NaN
86,PadmÃ© Amidala,165.0,45.0,Castanho,Clara,Feminino,Naboo,Humano

###Questão 2

Remova todos os valores faltantes. Salve a base de dados atualizada.

In [52]:
# Questao 2
#verificando quantidade de linhas e colunas antes de dropar os valores vazios
print(dados_starwars.shape)

#dropando/removendo valores vazios
dados_starwars = dados_starwars.dropna()

#verificando quantidade de linhas e colunas depois de dropar os valores vazios
print(dados_starwars.shape)

(87, 8)
(50, 8)

###Questão 3

Filtre somente os registros com `especie` = `humano`. Salve a base de dados atualizada.

In [53]:
# Questao 3
dados_starwars = dados_starwars[dados_starwars["especie"] == "Humano"]
dados_starwars

,nome,altura,massa,cor_do_cabelo,cor_da_pele,genero,planeta_natal,especie
0,Luke Skywalker,172.0,77.0,Loiro,Branca clara,Masculino,Tatooine,Humano
3,Darth Vader,202.0,136.0,Nenhum,Branca,Masculino,Tatooine,Humano
4,Leia Organa,150.0,49.0,Castanho,Clara,Feminino,Alderaan,Humano
5,Owen Lars,178.0,120.0,"Castanho, Cinza",Clara,Masculino,Tatooine,Humano
6,Beru Whitesun lars,165.0,75.0,Castanho,Clara,Feminino,Tatooine,Humano
8,Biggs Darklighter,183.0,84.0,Preto,Clara,Masculino,Tatooine,Humano
9,Obi-Wan Kenobi,182.0,77.0,"Ruivo, Branco",Branca clara,Masculino,Stewjon,Humano
10,Anakin Skywalker,188.0,84.0,Loiro,Branca clara,Masculino,Tatooine,Humano
13,Han Solo,180.0,80.0,Castanho,Branca clara,Masculino,Corellia,Humano
16,Wedge Antilles,170.0,77.0,Castanho,Branca clara,Masculino,Corellia,Humano
17,Jek Tono Porkins,180.0,110.0,Castanho,Branca clara,Masculino,Bestine IV,Humano
19,Palpatine,170.0,75.0,Cinza,"B""ranca p\u00e1lida",Masculino,Naboo,Humano
20,Boba Fett,183.0,78.2,Preto,Branca clara,Masculino,Kamino,Humano
23,Lando Calrissian,177.0,79.0,Preto,Negra,Masculino,Socorro,Humano
24,Lobot,175.0,79.0,Nenhum,Clara,Masculino,Bespin,Humano
47,Mace Windu,188.0,84.0,Nenhum,Negra,Masculino,Haruun Kal,Humano
56,Gregar Typho,185.0,85.0,Preto,Negra,Masculino,Naboo,Humano
63,Dooku,193.0,80.0,Branco,Branca clara,Masculino,Serenno,Humano
65,Jango Fett,183.0,79.0,Preto,Bronzeada,Masculino,Concord Dawn,Humano
78,Raymus Antilles,188.0,79.0,Castanho,Clara,Masculino,Alderaan,Humano
86,PadmÃ© Amidala,165.0,45.0,Castanho,Clara,Feminino,Naboo,Humano

###Questão 4

Edite a variável `altura` (que esta em centímetros) para que passe para a unidade em metros (*dividir por 100*). Salve a base de dados atualizada.

In [54]:
# Questao 4

dados_starwars["altura"] = dados_starwars["altura"]/100
dados_starwars

,nome,altura,massa,cor_do_cabelo,cor_da_pele,genero,planeta_natal,especie
0,Luke Skywalker,1.72,77.0,Loiro,Branca clara,Masculino,Tatooine,Humano
3,Darth Vader,2.02,136.0,Nenhum,Branca,Masculino,Tatooine,Humano
4,Leia Organa,1.50,49.0,Castanho,Clara,Feminino,Alderaan,Humano
5,Owen Lars,1.78,120.0,"Castanho, Cinza",Clara,Masculino,Tatooine,Humano
6,Beru Whitesun lars,1.65,75.0,Castanho,Clara,Feminino,Tatooine,Humano
8,Biggs Darklighter,1.83,84.0,Preto,Clara,Masculino,Tatooine,Humano
9,Obi-Wan Kenobi,1.82,77.0,"Ruivo, Branco",Branca clara,Masculino,Stewjon,Humano
10,Anakin Skywalker,1.88,84.0,Loiro,Branca clara,Masculino,Tatooine,Humano
13,Han Solo,1.80,80.0,Castanho,Branca clara,Masculino,Corellia,Humano
16,Wedge Antilles,1.70,77.0,Castanho,Branca clara,Masculino,Corellia,Humano
17,Jek Tono Porkins,1.80,110.0,Castanho,Branca clara,Masculino,Bestine IV,Humano
19,Palpatine,1.70,75.0,Cinza,"B""ranca p\u00e1lida",Masculino,Naboo,Humano
20,Boba Fett,1.83,78.2,Preto,Branca clara,Masculino,Kamino,Humano
23,Lando Calrissian,1.77,79.0,Preto,Negra,Masculino,Socorro,Humano
24,Lobot,1.75,79.0,Nenhum,Clara,Masculino,Bespin,Humano
47,Mace Windu,1.88,84.0,Nenhum,Negra,Masculino,Haruun Kal,Humano
56,Gregar Typho,1.85,85.0,Preto,Negra,Masculino,Naboo,Humano
63,Dooku,1.93,80.0,Branco,Branca clara,Masculino,Serenno,Humano
65,Jango Fett,1.83,79.0,Preto,Bronzeada,Masculino,Concord Dawn,Humano
78,Raymus Antilles,1.88,79.0,Castanho,Clara,Masculino,Alderaan,Humano
86,PadmÃ© Amidala,1.65,45.0,Castanho,Clara,Feminino,Naboo,Humano

###Questão 5

Renomeie a variável `altura` para `altura_metros`. Salve a base de dados atualizada.

In [56]:
# Questao 5
dados_starwars.rename(columns={'altura': 'altura_metros'}, inplace = True)
dados_starwars

,nome,altura_metros,massa,cor_do_cabelo,cor_da_pele,genero,planeta_natal,especie
0,Luke Skywalker,1.72,77.0,Loiro,Branca clara,Masculino,Tatooine,Humano
3,Darth Vader,2.02,136.0,Nenhum,Branca,Masculino,Tatooine,Humano
4,Leia Organa,1.50,49.0,Castanho,Clara,Feminino,Alderaan,Humano
5,Owen Lars,1.78,120.0,"Castanho, Cinza",Clara,Masculino,Tatooine,Humano
6,Beru Whitesun lars,1.65,75.0,Castanho,Clara,Feminino,Tatooine,Humano
8,Biggs Darklighter,1.83,84.0,Preto,Clara,Masculino,Tatooine,Humano
9,Obi-Wan Kenobi,1.82,77.0,"Ruivo, Branco",Branca clara,Masculino,Stewjon,Humano
10,Anakin Skywalker,1.88,84.0,Loiro,Branca clara,Masculino,Tatooine,Humano
13,Han Solo,1.80,80.0,Castanho,Branca clara,Masculino,Corellia,Humano
16,Wedge Antilles,1.70,77.0,Castanho,Branca clara,Masculino,Corellia,Humano
17,Jek Tono Porkins,1.80,110.0,Castanho,Branca clara,Masculino,Bestine IV,Humano
19,Palpatine,1.70,75.0,Cinza,"B""ranca p\u00e1lida",Masculino,Naboo,Humano
20,Boba Fett,1.83,78.2,Preto,Branca clara,Masculino,Kamino,Humano
23,Lando Calrissian,1.77,79.0,Preto,Negra,Masculino,Socorro,Humano
24,Lobot,1.75,79.0,Nenhum,Clara,Masculino,Bespin,Humano
47,Mace Windu,1.88,84.0,Nenhum,Negra,Masculino,Haruun Kal,Humano
56,Gregar Typho,1.85,85.0,Preto,Negra,Masculino,Naboo,Humano
63,Dooku,1.93,80.0,Branco,Branca clara,Masculino,Serenno,Humano
65,Jango Fett,1.83,79.0,Preto,Bronzeada,Masculino,Concord Dawn,Humano
78,Raymus Antilles,1.88,79.0,Castanho,Clara,Masculino,Alderaan,Humano
86,PadmÃ© Amidala,1.65,45.0,Castanho,Clara,Feminino,Naboo,Humano

###Questão 6

Ordene a base de dados por `altura_metros`. Salve a base de dados atualizada.

In [62]:
# Questao 6
dados_starwars = dados_starwars.sort_values(by='altura_metros')
dados_starwars

,nome,altura_metros,massa,cor_do_cabelo,cor_da_pele,genero,planeta_natal,especie
4,Leia Organa,1.50,49.0,Castanho,Clara,Feminino,Alderaan,Humano
86,PadmÃ© Amidala,1.65,45.0,Castanho,Clara,Feminino,Naboo,Humano
6,Beru Whitesun lars,1.65,75.0,Castanho,Clara,Feminino,Tatooine,Humano
19,Palpatine,1.70,75.0,Cinza,"B""ranca p\u00e1lida",Masculino,Naboo,Humano
16,Wedge Antilles,1.70,77.0,Castanho,Branca clara,Masculino,Corellia,Humano
0,Luke Skywalker,1.72,77.0,Loiro,Branca clara,Masculino,Tatooine,Humano
24,Lobot,1.75,79.0,Nenhum,Clara,Masculino,Bespin,Humano
23,Lando Calrissian,1.77,79.0,Preto,Negra,Masculino,Socorro,Humano
5,Owen Lars,1.78,120.0,"Castanho, Cinza",Clara,Masculino,Tatooine,Humano
13,Han Solo,1.80,80.0,Castanho,Branca clara,Masculino,Corellia,Humano
17,Jek Tono Porkins,1.80,110.0,Castanho,Branca clara,Masculino,Bestine IV,Humano
9,Obi-Wan Kenobi,1.82,77.0,"Ruivo, Branco",Branca clara,Masculino,Stewjon,Humano
20,Boba Fett,1.83,78.2,Preto,Branca clara,Masculino,Kamino,Humano
65,Jango Fett,1.83,79.0,Preto,Bronzeada,Masculino,Concord Dawn,Humano
8,Biggs Darklighter,1.83,84.0,Preto,Clara,Masculino,Tatooine,Humano
56,Gregar Typho,1.85,85.0,Preto,Negra,Masculino,Naboo,Humano
10,Anakin Skywalker,1.88,84.0,Loiro,Branca clara,Masculino,Tatooine,Humano
78,Raymus Antilles,1.88,79.0,Castanho,Clara,Masculino,Alderaan,Humano
47,Mace Windu,1.88,84.0,Nenhum,Negra,Masculino,Haruun Kal,Humano
63,Dooku,1.93,80.0,Branco,Branca clara,Masculino,Serenno,Humano
3,Darth Vader,2.02,136.0,Nenhum,Branca,Masculino,Tatooine,Humano

###Questão 7

Mantenha na base somente as variáveis: `nome`, `altura_metros`, `massa` e `genero`. Salve a base de dados atualizada.

In [65]:
# Questao 7
dados_starwars = dados_starwars.drop(columns=['cor_do_cabelo', 'cor_da_pele', 'planeta_natal', 'especie'])
dados_starwars

                  nome  altura_metros  massa     genero
4          Leia Organa           1.50   49.0   Feminino
86      PadmÃ© Amidala           1.65   45.0   Feminino
6   Beru Whitesun lars           1.65   75.0   Feminino
19           Palpatine           1.70   75.0  Masculino
16      Wedge Antilles           1.70   77.0  Masculino
0       Luke Skywalker           1.72   77.0  Masculino
24               Lobot           1.75   79.0  Masculino
23    Lando Calrissian           1.77   79.0  Masculino
5            Owen Lars           1.78  120.0  Masculino
13            Han Solo           1.80   80.0  Masculino
17    Jek Tono Porkins           1.80  110.0  Masculino
9       Obi-Wan Kenobi           1.82   77.0  Masculino
20           Boba Fett           1.83   78.2  Masculino
65          Jango Fett           1.83   79.0  Masculino
8    Biggs Darklighter           1.83   84.0  Masculino
56        Gregar Typho           1.85   85.0  Masculino
10    Anakin Skywalker           1.88   84.0  Masculino
78     Raymus Antilles           1.88   79.0  Masculino
47          Mace Windu           1.88   84.0  Masculino
63               Dooku           1.93   80.0  Masculino
3          Darth Vader           2.02  136.0  Masculino

In [69]:
#teste
teste = dados_starwars.iloc[:, 1:3]
teste

    altura_metros  massa
4            1.50   49.0
86           1.65   45.0
6            1.65   75.0
19           1.70   75.0
16           1.70   77.0
0            1.72   77.0
24           1.75   79.0
23           1.77   79.0
5            1.78  120.0
13           1.80   80.0
17           1.80  110.0
9            1.82   77.0
20           1.83   78.2
65           1.83   79.0
8            1.83   84.0
56           1.85   85.0
10           1.88   84.0
78           1.88   79.0
47           1.88   84.0
63           1.93   80.0
3            2.02  136.0